{% extends "base.html" %}
{% load bootstrap %}

{% block extrahead %}
<script type="text/javascript">
	$(document).ready(function() {
	    $('#tabela_contribuintes').DataTable();
	} );
</script>
{% endblock %}

{% block content %}

	<table id="tabela_contribuintes" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sexo</th>
                <th>Nascimento</th>
                <th>Ingresso Sev. Pub.</th>
                <th>Data da simulação</th>
                <th>Ben. regra atual</th>
                <th>Ben. media 100% contrib.</th>
                <th>Benefício INSS</th>
                <th>Benefício especial</th>
                <th>Economia</th>
                <th>Açoes</th>
            </tr>
        </thead>
        <tbody>
        	{% for c in contribuintes %}
            <tr>
                <td>{{c.nome}}</td>
                <td>{{c.sexo}}</td>
                <td>{{c.data_nascimento|date:"d/m/Y"}}</td>
                <td>{{c.data_ingresso_servico_publico|date:"d/m/Y"}}</td>
                <td>{{c.data_simulacao|date:"d/m/Y H:i"}}</td>
                <td>{{c.beneficio_regra_atual}}</td>
                <td>{{c.beneficio_media_todas_contribuicoes}}</td>
                <td>{{c.beneficio_inss}}</td>
                <td>{{c.beneficio_especial}}</td>
                <td>{{c.economia}}</td>
                <td class="text-center">
                    <a href="/simulador/contribuinte_detalhe/{{c.id}}/">
                        <span class="oi oi-layers" data-toggle="tooltip" data-placement="bottom" title="Importar contribuições"></span>
                    </a>
                    <a href="/simulador/simular_beneficios/{{c.id}}/">
                        <span class="oi oi-calculator" data-toggle="tooltip" data-placement="bottom" title="Simular cálculo"></span>
                    </a>
                    <a href="/simulador/excluir_contribuicoes/{{c.id}}/">
                        <span class="oi oi-x" data-toggle="tooltip" data-placement="bottom" title="Excluir contribuições"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}